<p id="notice"><%= notice %></p>

<p>
  <strong>Finished at:</strong>
  <%= @session.finished_at %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @session.vehicle %>
</p>

<p>
  <strong>State:</strong>
  <%= @session.state %>
</p>

<%= link_to 'Edit', edit_customer_project_session_path(@customer, @project, @session) %> |
<%= link_to 'Back', customer_project_path(@customer, @project) %>
