<p id="notice"><%= notice %></p>

<p>
  <strong>Finished at:</strong>
  <%= @session.finished_at %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @session.vehicle %>
</p>

<p>
  <strong>State:</strong>
  <%= @session.state %>
</p>
<p>
  <h2>Parameter Sets:</h2>
  <% if @session.param_sets[0].value_sets.size > 0 %>
    <table class="table table-bordered table-sm">
      <tr>
        <th>Use Case</th>
        <th>Comment</th>
      </tr>
    <% @session.param_sets[0].value_sets.each do |vs| %>
    <tr>
      <td><%= vs.name %></td>
      <td><%= vs.comment %></td>
    </tr>
    <% end %>
    </table>
  <% end %>
</p>

<%= link_to 'Edit', edit_customer_project_session_path(@customer, @project, @session) %> |
<%= link_to 'Back', customer_project_path(@customer, @project) %>
