<p id="notice"><%= notice %></p>
<div class="container">
<br>
<div class="card">
  <div class="card-header">
    Session Info
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @session.param_sets[0].projectName %></h5>
    <br>
    <p class="card-text"><strong>Product: </strong><%= @session.param_sets[0].productName %></p>
    <p class="card-text"><strong>Version: </strong><%= @session.param_sets[0].productVersion %></p>
    <p class="card-text"><strong>Mode: </strong><%= @session.param_sets[0].mode %></p>
    <p class="card-text"><strong>Vehicle: </strong><%= @session.vehicle %></p>
    <p class="card-text"><strong>Finished At: </strong><%= @session.finished_at %></p>
    <p class="card-text"><strong>State: </strong><%= @session.session_state %></p>
    <p class="card-text"><strong>Project File: </strong><%= @session.project_file %></p>


  </div>
</div>
<br>

  <% if @session.param_sets[0].value_sets.size > 0 %>
  <h2>Parameter Sets (<%= @session.param_sets[0].value_sets.size %>):</h2>
    <table class="table table-bordered table-sm">
      <tr>
        <th>Use Case</th>
        <th>Comment</th>
      </tr>
    <% @session.param_sets[0].value_sets.each do |vs| %>
    <tr>
      <td><%= vs.name %></td>
      <td><%= vs.comment %></td>
    </tr>
    <% end %>
    </table>
  <% end %>
</p>

<%= link_to 'Edit', edit_customer_project_session_path(@customer, @project, @session) %> |
<%= link_to 'Back', customer_project_path(@customer, @project) %>

</div>
