<p id="notice"><%= notice %></p>

<div class="container">
  <div class="Box">
    <div class="Box-header Box-header--blue">
      <h2>Customers <%= link_to octicon("diff-added", :height => 24), new_customer_path %></h2>
    </div>
      <% @customers.each do |customer| %>
      <div class="Box-row2 Box-row--hover-blue">
        <div class="container-lg clearfix">
          <div class="col-11 float-left">
            <%= link_to customer.name, customer %>
          </div>
          <div class="col-1 float-right" style="text-align: right;">
            <%= link_to octicon("pencil"), edit_customer_path(customer) %>
            <%= link_to octicon("trashcan"), customer, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        </div>
      <% end %>
  </div>
</div>
