<div role="main" class="application-main " data-commit-hovercards-enabled="">
  <div itemscope="" itemtype="http://schema.org/SoftwareSourceCode" class="">
    <div id="js-repo-pjax-container" data-pjax-container="">
      <div class="pagehead repohead readability-menu experiment-repo-nav">
        <div class="repohead-details-container clearfix container">
          <h1>
            <%= octicon("repo") %>
            <span class="author"><a href="#url" class="url fn" rel="author">cmwinters</a></span>
            <span class="path-divider">/</span>
            <strong><a href="#url">project</a></strong>
          </h1>
        </div>
        <div class="container-lg px-3">
          <p id="notice"><%= notice %></p>
          <nav class="reponav clearfix" role="navigation">
            <%= link_to octicon("clippy") + ' Infos', customer_project_path, class: "reponav-item " + isActiveTab("", true) %>
            <%= link_to octicon("comment-discussion") + ' Log', customer_project_path( :active_tab => "log"), class: "reponav-item " + isActiveTab("log") %>
            <% if @project.sessions.where(session_type: :Porting).present? %>
            <%= link_to octicon("tools") + ' Portings ' + getCounter(:Porting), customer_project_path( :active_tab => "porting"), class: "reponav-item " + isActiveTab("porting") %>
            <% end %>
            <% if @project.sessions.where(session_type: :APQM).present? %>
            <%= link_to octicon("verified") + ' APQMs ' + getCounter(:APQM), customer_project_path( :active_tab => "apqm"), class: "reponav-item "  + isActiveTab("apqm") %>
            <% end %>
            <% if @project.sessions.where(session_type: :Tuning).present? %>
            <%= link_to octicon("unmute") + ' Tunings ' + getCounter(:Tuning), customer_project_path( :active_tab => "tuning"), class: "reponav-item "  + isActiveTab("tuning") %>
            <% end %>

          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container new-discussion-timeline experiment-repo-nav">
  <% if @active_tab.present? %>
    <% case @active_tab %>
      <% when "log" %>
        <%= render :template => "projects/_log" %>
      <% when "porting" %>
        <%= render :template => "projects/_session_table", locals: {session_type: :Porting, id_tag: "porting", active:""} %>
      <% when "apqm" %>
        <%= render :template => "projects/_session_table", locals: {session_type: :APQM, id_tag: "apqm", active:""} %>
      <% when "tuning" %>
        <%= render :template => "projects/_session_table", locals: {session_type: :Tuning, id_tag: "tuning", active:""} %>
    <% end %>
    <% else %>
    <h5 id="overflow-auto-and-scroll"><%= @customer.name %> <code><%= @project.name %></code> - OracleID: <code><%= @project.oracleID %></code></h5>
  <% end %>
</div>








<br><br>
<%= link_to 'Add Session', new_customer_project_session_path(@customer, @project) %>
<%= link_to 'Edit', edit_customer_project_path(@project) %> |
<%= link_to 'Back', customer_projects_path %>
<br>
