<p id="notice"><%= notice %></p>

<h5 id="overflow-auto-and-scroll"><%= @customer.name %> <code><%= @project.name %></code> - OracleID: <code><%= @project.oracleID %></code></h5>

<br><br>
<%= form_tag customer_projects_path, method: 'get' do %>
  <%= label_tag :query %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag :search %>
<% end %>
<%= link_to 'Add Session', new_customer_project_session_path(@customer, @project) %>
<%= link_to 'Edit', edit_customer_project_path(@project) %> |
<%= link_to 'Back', customer_projects_path %>

<% if @project.sessions.size > 0 %>
  <h2>Sessions</h2>
  <table class="table">
    <tr>
      <th>Session Type</th>
      <th>Description</th>
      <th>Finished At</th>
      <th>Vehicle</th>
      <th>State</th>
    </tr>
<% end %>
<% @project.sessions.each do |session| %>
  <tr>
    <td><%= session.session_type %></td>
    <td><%= session.description %></td>
    <td><%= session.finished_at %></td>
    <td><%= session.vehicle %></td>
    <td><%= session.state %></td>
    <td><%= link_to 'Show', customer_project_session_path(@customer, @project, session) %></td>
    <td><%= link_to 'Edit', edit_customer_project_session_path(@customer,@project, session) %></td>
    <td><%= link_to 'Delete', customer_project_session_path(@customer, @project, session),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% if @project.sessions.size > 0 %>
</table>
<% end %>
