<p id="notice"><%= notice %></p>

<div class="streamline-search <%= 'active-search' if @param_sets&.any? %> -live-filtering">
  <div class="streamline-search__content">

    <div class="streamline-search__header">
      <%= form_for :search_param_sets, url: param_sets_path, html: {class: "streamline-search__input-wrapper"},method: :get do |form| %>
        <%= form.text_field :query, placeholder: "Search in projects", class: "streamline-search__text-input", value: params[:search_param_sets].presence && params[:search_param_sets][:query] %>
        <%= form.submit 'Search', :class => "button v__submit" %>
      <% end %>
    </div>


    <%# Results %>
    <div class="streamline-search__body">
      <% if @param_sets&.any? %>
        <div class="search-results">

        <div class="results">
          <div class="results__header">
          </div>

          <div class="results__body">
            <ul>
              <% @param_sets.each do |result| %>
              <% result.to_yaml %>
                <li class="result">
                  <div class="result__header">
                    <div class="result__title"> <%= link_to result.projectName, param_sets_path %> </div>
                  </div>
                  <div class="result__body">
                    <p class="result__description"><strong> Query:</strong><%= @query %></p><br>
                    <div class="result__details">
                      <p><strong>Product: </strong><%= result.productName %></p>
                      <p><strong>Version: </strong><%= result.productVersion %></p>
                      <p><strong>Mode: </strong><%= result.mode %></p>
                      <p><strong>Param Sets: </strong><%= result.value_sets.count %>
                    </div><br>

                    <% result.value_sets.each do |vs| %>
                      <%= vs.name + " - " + @query + " = " + ( (vs.parameters.where(name: @query).present? && vs.parameters.where(name: @query).take.value) || "") %>
                    <br>
                    <% end %>


                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>


  </div>
</div>

<br>

<%= link_to 'New Param Set', new_param_set_path %>
