<!DOCTYPE html>
<html>
  <head>
    <title>Streamline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= customers_path %>">Streamline</a></li>
        <% if @customer.present? && @customer.name.present? %>
        <li class="breadcrumb-item active" aria-current="page"><%= @customer.name %></li>
        <% end %>
      </ol>
    </nav>
    <%= yield %>
  </body>
</html>
